<h1>Celulares</h1>
<br>

<div class="row ">
    <div class="col-md-12 text-right">
        <button [routerLink]="['/celular','nuevo']" class="btn btn-outline-primary" type="button" name="button">Nuevo</button>
    </div>
</div>
<br>
<div class="row animated fadeIn fast">
    <div class="col-md-12">
        <div class="table-responsive">
            <div class="table">
                <table class="table">
                    <thead class="thead-success">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">id</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Precio</th>
                            <th scope="col">Marca</th>
                            <th scope="col">Stock</th>
                            <th scope="col">Estado</th>
                            <th scope="col">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>@mdo</td>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>@mdo</td>
                            <td>Otto</td>

                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>